
Ziekenhuis_StayHealthy/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Ziekenhuis_StayHealthy/bin/roslyn/Microsoft.CodeAnalysis.dll
Ziekenhuis_StayHealthy/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Ziekenhuis_StayHealthy/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Ziekenhuis_StayHealthy/bin/roslyn/System.Collections.Immutable.dll
Ziekenhuis_StayHealthy/bin/roslyn/System.IO.FileSystem.dll
Ziekenhuis_StayHealthy/bin/roslyn/System.IO.FileSystem.Primitives.dll
Ziekenhuis_StayHealthy/bin/roslyn/System.Reflection.Metadata.dll
Ziekenhuis_StayHealthy/bin/roslyn/System.Security.Cryptography.Primitives.dll
Ziekenhuis_StayHealthy/bin/roslyn/System.ValueTuple.dll
Ziekenhuis_StayHealthy/bin/roslyn/VBCSCompiler.exe
.vs/Ziekenhuis_StayHealthy/config/applicationhost.config
