@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "Interface";
}

<link href="~/Content/Interface.css" rel="stylesheet" />

<button>Gordijn</button>
<button>Temperatuur</button>
<button>Hulp roepen</button>


