@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "Interface";
}

<link href="~/Content/Interface.css" rel="stylesheet" />

<input type="button" value="Gordijnen" onclick="location.href='@Url.Action("GordijnenBedienen", "Patient" )'" />
<input type="button" name="test2" value="Gordijnen" onclick="GordijnenBedienen()">
<button>Temperatuur</button>
<button>Hulp roepen</button>

@section Scripts{

}
