@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "Interface";
    if (Session["function"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<link href="~/Content/Interface.css" rel="stylesheet" />
<input type="button" value="Lamp" onclick="location.href='@Url.Action("LampBedienen", "Patient" )'" />
<input type="button" value="Media Player" onclick="location.href='@Url.Action("MediaPlayerBedienen", "Patient" )'" />
<input type="button" value="Gordijnen" onclick="location.href='@Url.Action("GordijnenBedienen", "Patient" )'" />
<button>Temperatuur</button>
<button>Hulp roepen</button>

@section Scripts{

}
