@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../fonts/Muli/Muli-SemiBold.ttf') format('truetype');
}

body {
    font-family: Muli-Regular;
}

.background-image {
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo-image {
    position: absolute;
    width: 640px;
    height: 166px;
    left: 640px;
    top: 59px;
}

.login-box {
    position: absolute;
    width: 800px;
    height: 665px;
    left: 560px;
    top: 225px;
    background: #fff;
}

.login-image {
    position: absolute;
    width: 800px;
    height: 145px;
    left: 0px;
    top: 0px;
}

.login-content{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;    
    padding-bottom: 70px;  
    text-align: center;
}

.login-title {
    font-size: 48px;
    color: #373F41;
    font-weight: 500;
    text-align: center;
}

.login-desc {
    font-size: 24px;
    color: #737B7D;
    font-weight: 500;
}

.box-desc{
    position: absolute;
    left:200px;   
    margin-top: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.input-box {
    margin-top: 40px;   
    position: initial;
    background: #FFFFFF;
    border: 1px solid #A9A7A7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 60px;
}

.login-button {
    margin-top: 40px;
    font-family: Muli-SemiBold;
    font-weight: 300;
    font-size: 18px;
    color: white;
    width: 185px;
    height: 48px;
    background: radial-gradient(97.03% 401.52% at 98.65% 14.58%, #49B1EB 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #3C579B;
    border-radius: 15px;
}

    .login-button:focus {
    outline: none
}

    .login-button:hover {
        border-radius: 15px;
        background-color: black;
    }
