@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../fonts/Muli/Muli-SemiBold.ttf') format('truetype');
}


body {
    margin-top: 200px;   
    font-family: Muli-SemiBold;
}

.background-shape {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    height: 560px;
    background: #F3F9FC;
    border-radius: 0px 0px 280px 280px;
}

.wrapper-top {
    margin-top: 50px;
    margin-left: 200px;
}

.top-welcome {
    color: #3C579B;
}

.top-title {
    font-size: 44px;
    color: #373F41;
    font-weight: 700;
    margin-left: 30px;
    letter-spacing: 0.3px;  
}

.top-description {
    margin-top: 2%;
    color: #737B7D;
}

.dokter-image{
    float:right;
    width: 518px;
    height: 540px;
    margin-right: 350px;
}

.contact-button {
    position: inherit;
    margin-left: 15%;
    margin-top: 2%;
    font-family: Muli-SemiBold;
    font-weight: 300;
    font-size: 18px;
    color: white;
    width: 185px;
    height: 48px;
    background: radial-gradient(97.03% 401.52% at 98.65% 14.58%, #49B1EB 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #3C579B;
    border-radius: 15px;
}

    .contact-button:focus {
        outline: none
    }

    .contact-button:hover {
        border-radius: 15px;
        background-color: black;
    }

.wrapper-bottom{
    margin-top: 35%;
    width: 100%;
    text-align: center;
}

.box {
    display: inline-block;
    margin: 5px auto;
    padding: 5px;
}
.box-title{
    font-size: 18px; 
}

.box-desc {
    font-family: Muli-Regular;
    font-size: 12px;
    color: #373F41;
}

.box-link {
    margin-top: 20px;
    color: #3C64B1;
    text-decoration-line: none;
}