
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/loginpagina.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="background">

        <img src="~/Images/loginpagina/background.png" class="background-image" />
        <img src="~/Images/loginpagina/Logo.png" class="logo-image"/>
        <div class="login-box">
            <img src="~/Images/loginpagina/backgroundSmall.png" class="login-image" />
            <div class="login-content">
            <a class="login-title">Login</a> <br />
            <a class="login-desc">Login met je gegevens</a> <br />

            <a class="box-desc">Gebruikersnaam</a> <br />
            <input class="input-box" id="Login" type="text" /> <br />
            <a class="box-desc">Wachtwoord</a>      <br />
            <input class="input-box" id="Password" type="password" /> <br />
            <input id="LoginButton" class="login-button" type="submit" value="Login" />
            </div>
        </div>
        </div>
</body>
</html>
