@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/voorpagina.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Voorpagina</title>
</head>

<body>
    <div class="background-shape">
        <div class="wrapper-top">

            <a class="top-welcome">Welkom op onze site</a>
            <h1 class="top-title">
                Bekijk nu online je gegevens en <br />
                verbeter je zorgdiensten
            </h1>
            <a class="top-description">
                Deze website wilt u helpen uw zorgdiensten te verbeteren. Ook gaat deze website u helpen als <br />
                patiënt. Bekijk al uw eigen informatie en de status van alle procedures. Om gebruik te maken<br />
                van deze website moet u eerst contact opnemen met ons en uw zorginstelling.
            </a>  
            <img src="~/Images/voorpagina/Doctor.png" />
        </div>
    </div>

    
    <div class="wrapper-bottom">

    </div>

</body>

</html>

